
<aside class="l-sidebar">

  {{ if and (gt .WordCount 0 ) (ne .Params.toc "false") }}
  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">CONTENTS</div>
    </div>
    <div id="toc" class="Box Box--blue mb-3">
      <b>{{.Title}}</b>
      {{ .TableOfContents }}
    </div>
  </section>
  {{ end }}

  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">LATESTS</div>
    </div>
    <div class="list-group">
      {{ range first 10 .Site.RegularPages }}
      <a href="{{ .Permalink }}" class="list-group-item">{{ .Title }}</a>
      {{ end }}
    </div>
  </section>

  {{ range $key, $value := .Site.Taxonomies }}
  <section class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">{{ $key | singularize | upper }}</div>
    </div>
    <div class="list-group">
      {{ range first 10 $value.ByCount }}
      <a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}" class="list-group-item">{{ .Name }}</a>
      {{ end }}
    </div>
  </section>
  {{ end }}

</aside>

